.config-wrapper {
  .Form__item {
    width: 500px;
  }
  .tippy-wrapper {
    margin-right: 10px;
  }

  .radio-wrapper {
    padding: 20px 10px;
  }

  .radio-button {
    margin-right: 20px;
  }

  .toggle-save-response {
    padding: 20px 10px;
  }
}
.layout-container {
  margin-top: 10px;
  padding-left: 2px;
}
.field-wrapper {
  margin-top: 10px;
}

.field {
  font-size: 1rem;
}

.TextInput__input {
  font-size: 1rem !important;
}
